/*  your css code here. If applicable */
.imageContainer{
	width:1100px;
	display:flex;
	flex-direction:column;
}
.first,.second{
	width:100vw;
	height:50vh;
	display:flex;
	background-color:red;
}
.pic{
	width:200px;
	
}

